@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Outfit');


h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 50px;
  text-align: center;
}

.item{
  flex-grow: 1;
  border: 10px solid red;
  min-height: 100vh;
}
